<a href="https://colab.research.google.com/github/abedEstad/Phyton_sesion1/blob/main/AbedNorabuena.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
x=8
nombre="juan"
x=nombre
y=x
print("El valor de x es:", y)

El valor de x es: juan

In [ ]:
valorVerdadero = True
valorFalso = False
type(valorVerdadero)

bool

In [ ]:
binario = 0bb1
binario

SyntaxError: ignored

In [ ]:
cadena = "esto es una cadena de texto"
type(cadena)

str

In [ ]:
cad1 = "Hola"
cad2 = "Perú"
resp1 = cad1 +cad2
print(resp1)

HolaPerú

In [ ]:
cad3 = "123"
cad3 = cad3 + 1
print(cad3)
#error de concatenación por cadena y entero

TypeError: ignored

In [ ]:
 x = int(cad3) +1
 print(x)

124

In [26]:
name = input("Enter ")
print(name)
x = int(name) -10
print(x)

Enter 16
16
6

In [ ]:
fruta = "platano"
x = len(fruta)
print(x)

7

In [ ]:
fruta = "platano"
indice = 0
while indice < len(fruta):
  letra = fruta[indice]
  print(indice, letra)
  indice = indice + 1

0 p
1 l
2 a
3 t
4 a
5 n
6 o

In [ ]:
fruta = "naranja"
i=0
letra = fruta[i]
for letra in fruta:
  print(letra)

n
a
r
a
n
j
a

In [ ]:
palabra = "mandarina"
count = 0
for letra in palabra:
  if letra == "a":
    count=count+1
print(count)

3

In [ ]:
fruta = "platano"
"n" in fruta
"z" in fruta  
if "a" in fruta:
  print("Encontrado!")

SyntaxError: ignored

In [ ]:
print ("Buenos dias gente")
s = "Phyton mensual"
print(s[:2])
print ("Buenos dias gente")
s = "Phyton mensual"
print(s[:2])
print(s[8:])
print(s[:])

Buenos dias gente
Ph
ensual
Phyton mensual

In [ ]:
generales = ["Abed Norabuena", 28, True, "Lima"]
print(generales)

['Abed Norabuena', 28, True, 'Lima']

In [ ]:
type(generales)
nombres =generales[0]
print(nombres)

Abed Norabuena

In [ ]:
#obtener departamento
dpto = generales[3]
dpto
#Antes del indice:
datosantes = generales[:2]
datosantes

[True]

In [ ]:
datoscentro = generales[1:3]
datoscentro

[28, True]

In [ ]:
x = 4
y = 6
if x < 2:
  y=5
  print("Se ejectuó el if")
else:
  y=2
  print("Se ejecutó el else")
print(y)

In [ ]:
x = 4
y = 6
if x==4 or y < 2:
  y=5
  print("Se ejectuó el if")
else:
  y=2
  print("Se ejecutó el else")
print(y)

In [ ]:
x=2
y=6
if x==4:
  y=1
elif x==2:
  y=2
elif  x==6:
  y=3
elif x==8:
  y=4
else:
  y=5

print("El valor de y es:", y)

In [ ]:
a = 10
b = 9
if a > b: print("a es mayor que b")

In [ ]:
lista = [10,523,643]
suma = 0
for variable in lista:
  suma = suma + variable
  print("La iteracion de la suma es: ", suma)

print("La suma total es: ", suma)

In [ ]:
lista = [10,523,643,243,458]

indice =0
for variable in lista:
  suma = suma + variable
  print("La iteracion de la suma es: ", suma)

print("La suma total es: ", suma)

In [ ]:
x = 0
y = 3
while x < y:
    print(x)
    x += 1
    print("Nuevo valor de x es: ",x)

In [ ]:
x = 0
y = 150
while x < y:
    print (x)
    x+=1
    if x == 50:
        break
    else:
        print ("Nuevo valor de x es:",x)

In [ ]:
for i in range (1, 10):
    if i % 2 != 0:
        continue
    print (i)

In [ ]:
def resta(a, b):
  return a - b
resta(30, 20)

In [ ]:
def escribe_media(x, y):
    media = (x + y) / 2
    print(f"La media de {x} y {y} es: {media}")
    return

a = 3
b = 5
escribe_media(a, b)

In [ ]:
def media_sigma(*args):
    total = 0
    for i in args:
        total += i
    media = total / len(args)
    total = 0
    for i in args:
        total += (i - media) ** 2
    desviacion = (total / len(args)) ** 0.5
    return media, desviacion

a, b, c, d = 23, 25, 19, 25
media, desviacion_tipica = media_sigma (a, b, c, d)
print(f"Datos: {a} {b} {c} {d}")
print(f"Media: {media}")
print(f"Desviación típica: {desviacion_tipica}")

In [27]:
import pandas as pd
#Creando listas 
nombres=["Rossmery", "Sussan", "Nicolas", "Abed"]
edad=[23,29,23,26]
pais=["Ecuador", "Perú", "Brasil", "Argentina"]
educacion=["Bachiller", "Licenciado", "Bachiller", "PhD"]

In [28]:
data = {
    'nombres': nombres,
    'edad': edad,
    'pais':pais,
    'eduacion':educacion
    }
data

{'edad': [23, 29, 23, 26],
 'eduacion': ['Bachiller', 'Licenciado', 'Bachiller', 'PhD'],
 'nombres': ['Rossmery', 'Sussan', 'Nicolas', 'Abed'],
 'pais': ['Ecuador', 'Perú', 'Brasil', 'Argentina']}

In [ ]:
df_estudiantes = pd.DataFrame(data)
print(df_estudiantes)
df_estudiantes[df_estudiantes["nombres"]=="Nicolas"]

    nombres  edad       pais    eduacion
0  Rossmery    23    Ecuador   Bachiller
1    Sussan    29       Perú  Licenciado
2   Nicolas    23     Brasil   Bachiller
3      Abed    26  Argentina         PhD

   nombres  edad    pais   eduacion
2  Nicolas    23  Brasil  Bachiller

**Clase: Clases**

Fecha: 22/06/2021

```
# Esto tiene formato de código
```

In [14]:
class Persona(object):
    """Clase que representa una Persona"""

    def __init__(self, cedula, nombre, apellido, sexo):
        """Constructor de clase Persona"""
        self.cedula = cedula
        self.nombre = nombre
        self.apellido = apellido
        self.sexo = sexo


    def __str__(self):
        """Devuelve una cadena representativa de Persona"""
        return "%s: %s, %s %s, %s." % (
            self.__doc__[25:34], str(self.cedula), self.nombre, 
            self.apellido, self.getGenero(self.sexo))

    def hablar(self, mensaje):
        """Mostrar mensaje de saludo de Persona"""
        return mensaje

    def getGenero(self):
        """Mostrar el genero de la Persona"""
        genero = ('Masculino','Femenino')
        if self.sexo == "M":
            return genero[0]
        elif self.sexo == "F":
            return genero[1]
        else:
            return "Desconocido"

    def get_nombre_apellido(self):
        return self.nombre + " " + self.apellido
    
    def set_nombre(self, nuevo_nombre):
        self.nombre = nuevo_nombre

variable_persona = Persona(12131415,"Luisa","Gutierrez","F")            
print("El sexo de la persona es: ", variable_persona.getGenero())
print("El nombre completo de la persona es: ", variable_persona.get_nombre_apellido())

variable_persona.set_nombre("Cecilia")
print("El nombre completo de la persona es: ", variable_persona.get_nombre_apellido())

El sexo de la persona es:  Femenino
El nombre completo de la persona es:  Luisa Gutierrez
El nombre completo de la persona es:  Cecilia Gutierrez

In [ ]:
class Animal(object):
    """Clase que representa a un animal"""

    def __init__(self, tipo, nombre, sexo, extremidades):
        """Constructor de clase Persona"""
        self.tipo = tipo
        self.nombre = nombre
        self.apellido = sexo
        self.extremidades = extremidades

    def mostrarTipo(self):
        """Mostrar tipo"""
        return self.tipo

    def mostrarNombre(self):
        """Mostrar nombre"""
        return self.nombre

    def mostrarSexo(self):
        """Mostrar el sexo"""
        sexo = ('Macho','Hembra')
        if self.sexo == "M":
            return sexo[0]
        elif self.sexo == "H":
            return sexo[1]
        else:
            return "No precisa"

    def mostrarExtremidades(self):
        """Mostrar el sexo"""
        extremidades = ('Bipedo','Cuadrupedo')
        if self.extremidades == "B":
            return extremidades[0]

        if self.extremidades == "C":
            return extremidades[1]
        else:
            return "Incorrecto"

animal1 = Animal("Perro", "Chavo", "Macho", "Cuadrupedo")
print(animal1)
nombre = Animal.mostrarNombre()

**Clase :  **

Fecha: 24/06/2021

In [18]:
import datetime as dt

In [1]:
print(dt.time(1), " 1 hora")
print(dt.time(2, 30), "2 Horas y 30 minutos")
print(dt.time(3, 45, 30), "3 Horas, 45 minutos y 30 segundos")

NameError: ignored

In [19]:
str_date = "19941807 212245"
print(type(str_date)) 
str_date = dt.datetime.strptime(str.date, "%Y%d%m %H%M%S")
print(str_date)

<class 'str'>

AttributeError: ignored

In [20]:
#creacion de cadena
s1 = 'fundamentos de programación en Python.'

In [21]:
' programación ' in s1

True

In [23]:
'fundamentos' not in s1

False

In [24]:
len(s1)

38

In [25]:
#Acceso (Indexacion - Slicing)
print(s1[0])
print(s1[-1])
print(s1[4:8])
print(s1[::-1])

f
.
amen
.nohtyP ne nóicamargorp ed sotnemadnuf

In [ ]:
#Funciones de desplazamiento

print('String centrado:')
print(s1.center(50))
print(s1.center(50, '_'))

print('\n\nAlineado a la izquierda:')
print(s1.ljust(50))
print(s1.ljust(50, '<'))

print('\n\nAlineado a la derecha:')
print(s1.rjust(50))
print(s1.rjust(50, '>'))

print('\n\nCompletar con 0')
print('-123.45'.zfill(4))
print('-123.45'.zfill(12))