<a href="https://colab.research.google.com/github/abedEstad/Phyton_sesion1/blob/main/AbedNorabuena.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
x=8
nombre="juan"
x=nombre
y=x
print("El valor de x es:", y)

El valor de x es: juan

In [ ]:
valorVerdadero = True
valorFalso = False
type(valorVerdadero)

bool

In [ ]:
binario = 0bb1
binario

SyntaxError: ignored

In [ ]:
cadena = "esto es una cadena de texto"
type(cadena)

str

In [ ]:
cad1 = "Hola"
cad2 = "Perú"
resp1 = cad1 +cad2
print(resp1)

HolaPerú

In [ ]:
cad3 = "123"
cad3 = cad3 + 1
print(cad3)
#error de concatenación por cadena y entero

TypeError: ignored

In [ ]:
 x = int(cad3) +1
 print(x)

124

In [ ]:
name = input("Enter ")
print(name)
x = int(name) -10
print(x)

Enter 16
16
6

In [ ]:
fruta = "platano"
x = len(fruta)
print(x)

7

In [ ]:
fruta = "platano"
indice = 0
while indice < len(fruta):
  letra = fruta[indice]
  print(indice, letra)
  indice = indice + 1

0 p
1 l
2 a
3 t
4 a
5 n
6 o

In [ ]:
fruta = "naranja"
i=0
letra = fruta[i]
for letra in fruta:
  print(letra)

n
a
r
a
n
j
a

In [ ]:
palabra = "mandarina"
count = 0
for letra in palabra:
  if letra == "a":
    count=count+1
print(count)

3

In [ ]:
fruta = "platano"
"n" in fruta
"z" in fruta  
if "a" in fruta:
  print("Encontrado!")

SyntaxError: ignored

In [ ]:
print ("Buenos dias gente")
s = "Phyton mensual"
print(s[:2])
print ("Buenos dias gente")
s = "Phyton mensual"
print(s[:2])
print(s[8:])
print(s[:])

Buenos dias gente
Ph
ensual
Phyton mensual